{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Memory Game</title>
<style>
.card {
	color: transparent; 
	width: 140px; 
	height: 140px; 
	background-image: url({% static 'memory/cards_alphabet.png' %}); 
}
.cardcell {
	width: 150px; 
	height: 150px; 
}
</style>
</head>
<body>
<p>This is game {{ game }}.</p>

<table>
<tr>
{% for aplayer in game.players.all %}
<td id="{{ aplayer.id }}" {% if aplayer.is_current_player %}style="background: yellow"{% endif %}>{{ aplayer.name }} - {{ aplayer.score }}</td>
{% endfor %}
</tr>
</table>

{% if player %}
<p>You are {{ player }}.</p>
{% endif %}
{% if game.current_player %}
<p>It is {{game.current_player}}'s turn.</p>
{% endif %}

<form method='post'>
{% csrf_token %}
{% if game.result %}
<p> {{ game.result }} </p>
<p><input type="submit" value="Play again"/></p>
<p><a href="{% url 'memory:welcome' %}">or start a new game with somebody else.</a></p>
{% endif %}
<table>
{% for card in game.cards.all %}
    {% if forloop.counter0|divisibleby:6 %}<tr>{% endif %}
	<td class="cardcell">
	{% if card.shown %}
		<input type="submit" name="card" value="{{ card.id }}" class="card"
		style="background-position: -{{ card.image.offset_x }}px -{{ card.image.offset_y }}px"/>
	{% elif card.visible %}
		<input type="submit" name="card" value="{{ card.id }}" class="card"/>
	{% else %}
		&nbsp;
	{% endif %}
	</td>
    {% if forloop.counter|divisibleby:6 %}</tr>{% endif %}
{% endfor %}
</table>
</form>
</body>
</html>